.header_background {
  background-color: var(--color-primary-500);
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
  z-index: 10;
}

.header_title {
  font-family: var(--font--nunito);
  font-size: 24px;
  color: var(--color-neutral-100);
  font-weight: 700;
  text-decoration: none;
}

.menu_toggle {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: var(--color-neutral-100);
  cursor: pointer;
}

.header__links-container {
  display: flex;
  gap: 16px;
  transition: all 0.3s ease-in-out;
}

.links {
  font-family: var(--font--nunito);
  font-size: 16px;
  color: var(--color-neutral-100);
  font-weight: 700;
  text-decoration: none;
  transition: color 300ms ease-in;
}

.links:hover {
  color: var(--color-neutral-300);
}

@media (max-width: 768px) {
  .menu_toggle {
    display: block;
  }

  .header__links-container {
    flex-direction: column;
    position: absolute;
    top: 56px;
    right: 0;
    width: 100%;
    background-color: var(--color-primary-500);
    overflow: hidden;

    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .header__links-container.aberto {
    max-height: 300px;
    opacity: 1;
  }

  .links {
    padding: 12px 16px;
    border-top: 1px solid var(--color-primary-700);
  }
}